<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Buscador</title>
    <link rel="stylesheet" href="resources/css/stile_index.css">
</head>
<body>
    <img src="resources/images/Logo.cooperativa.png" alt="logo" class="logo">
    <header>
        <h1>Gestión de Notificacón por Correo</h1>
    </header>
    <main>
        <table>
            <thead>
                <tr>
                    <th>NIT</th>
                    <th>Empresa</th>
                    <th>Fecha Pago</th>
                </tr>
            </thead>    
            <tbody>
                <% if (data.length > 0) { %>
                    <% data.forEach(row => { %>
                    <tr>
                        <td><%= row.nit %></td>
                        <td><%= row.empresa %></td>
                        <td><%= formatDate(row.fecha_pago) %></td>
                    </tr>
                    <% }) %>
                    <% } else { %> 
                    <tr>
                        <td colspan="6">No se encontraron resultados.</td>
                    </tr>
                    <% } %>                
            </tbody>
        </table>
    </main>
    <div class="pagination">
        <% if (pagination.totalPages > 1) { %>
            <% if (pagination.hasPrevPage) { %>
                <a href="/admin?page=<%= pagination.prevPage %>">« Anterior</a>
            <% } %>
    
            <% for (let i = 1; i <= pagination.totalPages; i++) { %>
                <a href="/admin?page=<%= i %>" 
                   class="<%= i === pagination.currentPage ? 'active' : '' %>">
                    <%= i %>
                </a>
            <% } %>
    
            <% if (pagination.hasNextPage) { %>
                <a href="/admin?page=<%= pagination.nextPage %>">Siguiente »</a>
            <% } %>
        <% } %>
    </div>
    <footer>
        <h5>
            <img src="resources/images/Drau.png" alt="imgautor" class="imgautors">
            Todos los derechos reservados de coocafisa
        </h5>
    </footer>
</body>
</html>