<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1, user-scalable=no">
    <title>Buscador</title>
    <link rel="stylesheet" href="resources/css/stile_index.css">
</head>
<body>
    <img src="resources/images/Logo.cooperativa.png" alt="logo" class="logo">
    <header>
        <h1>Histórico de Facturas Saldadas</h1>
    </header>
    <main>
        <table>
            <thead>
                <tr>
                    <th>NIT</th>
                    <th>Razon Social</th>
                    <th>Pago</th>
                    <th>Descuento</th>
                    <th>Retención</th>
                    <th>Fecha Pago</th>
                </tr>
            </thead>    
            <tbody>
                <% if (data.length > 0) { %>
                <% data.forEach(row => { %>
                <tr>
                    <td><%= row.nit %></td>
                    <td><%= row.razonsoc %></td>
                    <td><%= row.total %></td>
                    <td><%= row.descuento %></td>
                    <td><%= row.retencion %></td>
                    <td><%= formatDate(row.fecpago) %></td>
                </tr>
                <% }) %>
                <% } else { %> 
                <tr>
                    <td colspan="6">No se encontraron resultados.</td>
                </tr>
                <% } %>
            </tbody>
        </table>
    </main>    
    <div class="pagination">
        <% if (pagination.totalPages > 1) { %>
            <% if (pagination.hasPrevPage) { %>
                <a href="/index?page=<%= pagination.prevPage %>">« Anterior</a>
            <% } %>
    
            <% for (let i = 1; i <= pagination.totalPages; i++) { %>
                <a href="/index?page=<%= i %>" 
                class="<%= i === pagination.currentPage ? 'active' : '' %>">
                    <%= i %>
                </a>
            <% } %>
    
            <% if (pagination.hasNextPage) { %>
                <a href="/index?page=<%= pagination.nextPage %>">Siguiente »</a>
            <% } %>
        <% } %>

        <form action="/logout" method="POST">
            <button type="submit" class="btn_salir">Salir</button>
        </form>
    </div>
    
    <footer>
        <h5>
            <img src="resources/images/Drau.png" alt="imgautor" class="imgautors">
            Todos los derechos reservados de coocafisa
        </h5>
    </footer>
</body>
</html>
