<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inicio de Sesión</title>
    <link rel="stylesheet" href="resources/css/style.css">
</head>
<body>
    <section>
        <div class="login">
            <header>
                <h1>Bienvenido a CoopFinanzas</h1>
            </header>
            <form action="/auth" method="post">               
                <div class="stlnit">
                    <label for="nit"><h4>Nit</h4></label>
                    <input type="text" name="nit" id="nit">
                </div>
                <div class="stlpass">
                    <label for="password"><h4>Contraseña</h4></label>
                    <input type="password" name="password" id="password">
                    <button type="submit" class="btn_ingresar"><h3>Ingresar</h3></button>
                </div> 
                
            </form>
        </div>
    </section>

    <!-- SweetAlert Script -->
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

    <% if (typeof alert != "undefined") { %>
        <script>
            Swal.fire({
                title: '<%= alertTitle %>',
                text: '<%= alertMessage %>',
                icon: '<%= alertIcon %>',
                showConfirmButton: <%= showConfirmButton %>,
                timer: <%= timer %>
            }).then(() => {
                window.location = '<%= ruta %>';
            });
        </script>
    <% } %>
</body>
</html>
