<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inicio de Sesión</title>
    <link rel="stylesheet" href="resources/css/style_rest.css">
</head>
<body>
    <main>
        <section>
            <div class="container">
                <header>
                    <div class="imglogo">
                        <img src="resources/images/Logo.cooperativa.png" alt="logo" class="logo">
                    </div>
                    <div class="titletext">
                        <h1 class="textrest"> Restablecimiento de Contraseña</h1>
                    </div>
                </header>
                <form action="/emailresetpass" method="post"> 
                    <div class="stlnit">
                        <label for="nit"><h4>Nit</h4></label>
                        <input type="number" name="nit" id="nit">
                    </div>              
                    <div class="stlgmail">
                        <label for="gmail"><h4>Gmail</h4></label>
                        <input type="email" name="gmail" id="gmail">
                    </div> 
                    <div class="btn">
                        <button type="submit" class="btn_enviar">Enviar Correo</button>
                    </div>
                    <div class="btn">
                        <a href="/"><button type="button" class="btn_regresar">Regresar</button></a>
                    </div>                  
                </form>
            </div>
        </section>
    </main>
    <footer>
        <h5>
            <img src="resources/images/Drau.png" alt="imgautor" class="imgautors">
            Todos los derechos reservados de coocafisa
        </h5>
    </footer>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

    <% if (typeof alert != "undefined") { %>
        <script>
            Swal.fire({
                title: '<%= alertTitle %>',
                text: '<%= alertMessage %>',
                icon: '<%= alertIcon %>',
                timer: '<%= timer %>'
            }).then(() => {
                window.location = '<%= ruta %>';
            });
        </script>
    <% } %>
</body>
</html>